<?xml version="1.0"?>
<model>
  <name>3DR Iris with 4 D435i cameras</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_D435ix4.sdf</sdf>

  <author>
   <name>Baozhe ZHANG</name>
   <email>zhang.baozhe2000@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a single forward facing depth camera.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
