<?xml version="1.0"?>
<model>
  <name>3DR Iris with livox lidar</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_livox.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
  Iris with livox lidar
  </description>
</model>
